{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block title %}{% trans "Registrar" %} | {{ block.super }}{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/login.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block content %}
  <div id="content-main" class="register-form">
    <h1 class="login-heading">{% trans "Criar nova conta" %}</h1>
    {% if messages %}
      {% for message in messages %}
        <p class="successnote">{{ message }}</p>
      {% endfor %}
    {% endif %}

    {% if form.errors and not form.non_field_errors %}
      <p class="errornote">
        {% blocktranslate count counter=form.errors.items|length %}Por favor corrija o erro abaixo.{% plural %}Por favor corrija os erros abaixo.{% endblocktranslate %}
      </p>
    {% endif %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="errornote">{{ error }}</p>
      {% endfor %}
    {% endif %}

    <form method="post" novalidate>
      {% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.help_text %}
          <div class="help">{{ form.username.help_text|safe }}</div>
        {% endif %}
      </div>
      <div class="form-row">
        {{ form.password1.errors }}
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% if form.password1.help_text %}
          <div class="help">{{ form.password1.help_text|safe }}</div>
        {% endif %}
      </div>
      <div class="form-row">
        {{ form.password2.errors }}
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% if form.password2.help_text %}
          <div class="help">{{ form.password2.help_text|safe }}</div>
        {% endif %}
      </div>
      <div class="submit-row">
        <input type="submit" value="{% trans 'Registrar' %}">
      </div>
    </form>

    <div class="password-reset-link">
      <a href="{% url 'admin:login' %}">{% trans 'Já possui uma conta? Acesse aqui.' %}</a>
    </div>
  </div>
{% endblock %}
